<% %>



<p> El número de preguntas es: <%=numPreguntas %> </p>
<p> El número de comentarios totales es: <%= numComments %> </p>
<p> El número medio de comentarios por pregunta es: <%= numMedioComments %> </p>
<p> El número de preguntas sin comentarios es: <%= numPreguntasSinComments%> </p>
<p> El número de preguntas con comentarios es: <%= numPreguntasConComments %> </p>
