<p> El número de preguntas es: <%=quizes.length %> </p>
<p> El número de comentarios totales es: <%=quizes.comment.length %> </p>
<p> El número medio de comentarios por pregunta es: <%=quizes.length %> </p>
<p> El número de preguntas sin comentarios es: <%=quizes.length %> </p>
<p> El número de preguntas con comentarios es: <%=quizes.length %> </p>
